<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Receiver</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>ReceiverServlet</display-name>
    <servlet-name>ReceiverServlet</servlet-name>
    <servlet-class>com.eciii.ReceiverServlet</servlet-class>
    <init-param>
        <param-name>SQSDetailsEndPoint</param-name>
        <param-value>https://sqs.ap-southeast-1.amazonaws.com/074686034904/2013HT78056</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiverServlet</servlet-name>
    <url-pattern>/consume</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>WhoAmIServlet</display-name>
    <servlet-name>WhoAmIServlet</servlet-name>
    <servlet-class>com.eciii.WhoAmIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WhoAmIServlet</servlet-name>
    <url-pattern>/whoami</url-pattern>
  </servlet-mapping>
</web-app>